.container {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .heading {
    color: rgb(9, 104, 194);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }

.background {
    background-color: bisque;
}