.card-container {
  background-color: #f0f0f0;
  border: 2px solid rgba(0, 0, 0, 0.177);
  border-radius: 15px;
  /* width: 800px; */
  height: 400px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    border: 2px solid rgba(0, 0, 0, 0.177);
    border-radius: 15px;
    width: 800px;
    /* height: 200px; */
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
    
  .th1 {
    text-align: start !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.519);
  }

  .th2 {
    padding-left: 0 !important;
    text-align: center !important;
  }

  .th3 {
    width: 100px !important; 
    text-align: start !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.519);
  }


  .first-line{
    color: #054957;
    background-color: #dbeaec;
  }

  .line1{
    background-color: #f4f4f4;
  }
  
  .line2{
    background-color: #eeeeee;
  }
    
  td {
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.519);
  }

  .td2 {
    text-align: center;
    border-bottom: none;
  }

  .st-num {
    text-align: end;
  }


.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    size: 50px;
}